@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html, body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: "Open Sans", serif;
  font-size: 2.5em;
}

.buttons{
  margin-top: -4%
}

.social-media-buttons{
  margin: 5%;
  margin-top: -5%;
}
.social-media-buttons img:hover{
  cursor: pointer;
}

.topnav {
  margin-right: 17.5%;
  color: #159957;
  text-align: right;
  font-size: 15%;
  margin-bottom: -3%;
}


ul li{
  display: inline-block;

}

ul li a {
  text-decoration: none;
  padding: 6px;
}

ul li a:hover{
  text-decoration: underline;
}

.banner{
  height: 50vh;
  width: 100%;
  background: #5C258D;
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
  background: linear-gradient(to right, #4389A2, #5C258D);
  color: #FFF;
  text-align: center;

}

#above-text{
  font-size: 50%;
  padding-top: 3%;
  margin-bottom: -4%;
  font-weight: bolder;
}
#under-text{
  font-size: 23.5%;
  padding-top: .1%;
  margin-bottom: -2%;
  opacity: 0.9;
}

h1{
  color: #159957;
  font-size: 45%;
}

.posts-list{
  margin: 2%;
}
#copyright{
  font-size: 10%;
  float: right;
  margin-top: 7.6%;
  opacity: 0.9;
}


#info{
  font-size: 10%;
  font-weight: lighter;
  opacity: 0.9;
  color: grey;
}
.post h1{
  color: #1e6bb8;
font-weight: lighter;
font-size: 25%;
opacity: 0.9;
margin-top: -1%;
}

.post h1:hover{
  text-decoration: underline;
  cursor: pointer;
}

.post-text{
  margin: 5%;
}

.post p, .about-me-text{
  color: black;
  font-size: 18%;
  opacity: 0.6;
}

.about-me-text{
  margin: 5%;
  opacity: 0.8;
  margin-bottom: 0px;
}

#skills{
  margin: 2%;
  opacity: 0.8;
  font-size: 110%;
}


@media only screen and (max-width: 1000px) {
  .portfolio-item{
    height: 40vh !important;
    width: 25% !important;
    margin: 1.6% !important;
    margin-bottom: 5% !important;
    font-size: 83%;
  }
  .portfolio-item img {
    width: 40% !important;
  }


}

@media only screen and (max-width: 736px) {

  .portfolio-item img{
    width: 29% !important;
  }
  .portfolio-item{
    display: block !important;
    width: 87% !important;
  }


  .banner{
  height: 60vh !important;
  }
  #above-text{
    font-size: 30%;
    padding-top: 10vh;
  }
  #under-text{
    font-size: 17%;
    margin-top: 3vh;
  }

  .buttons{
    margin-top: 1vh !important;
    font-size: 50% !important;
  }
}


.blog{
  margin: 5%;
}
#intro{
  font-size: 19%;
  opacity: 0.7;
}

.portfolio-item{
  display: inline-block;
  overflow: auto;
  height: 46vh;
  width: 20%;
  box-sizing: content-box;
  margin: 5% 3% 0% 5%;
  padding: 1%;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}


.summary{
  text-align: center;
  opacity: 0.56;
  font-size: 15%;
}

.portfolio-item img {
  width: 40%;
  margin-bottom: 0%;
}

input, textarea{
  font-size: 0.8em;
  font-family: 'proxima-nova-soft', sans-serif;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.9em;
  transition: all 0.3s ease-in-out;
  width: 57%;
}

#submit-email-button{
  margin-bottom: 5%;
}

#me-img{
  width: 25%;
  border-radius: 50%;

  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  transition: opacity ease-in-out 1s;
}
.about-me-img{
  text-align: center;
}

.project-image{
  text-align: center;
}

.about-me{
  margin: 5%;
}

.title {
  cursor: pointer;
  font-size: 20%;
  font-weight: bolder;
  opacity: 0.67;
  margin-top: 0%;
  letter-spacing: 2.5px;
  text-align: center;
}

.title:hover{
  text-decoration: underline;
}
.button {
  padding: 0.1rem 0.6rem;
  font-size: 26.5%;
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.08);
  border-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  text-decoration: none;
}


.typed-cursor {
        font-size: 30%;
        opacity: 1;
        animation: typedjsBlink 0.7s infinite;
        animation: typedjsBlink 0.7s infinite;
        animation-name: typedjsBlink;
        animation-duration: 0.7s;
        animation-timing-function: initial;
        animation-delay: initial;
        animation-iteration-count: infinite !important;
        animation-direction: initial;
        animation-fill-mode: initial;
        animation-play-state: initial;
    }

     @keyframes typedjsBlink{
        50% { opacity: 0.0; }
    }

    @-webkit-keyframes typedjsBlink{
        0% { opacity: 1; }
        50% { opacity: 0.0; }
        100% { opacity: 1; }
    }

#under-text{
  display: inline-block;
}

#me-img:hover{
  opacity: 0.95;
}
