@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Open Sans", serif;
	font-size: 2.5em
}
.social-media-buttons {
	margin: 5%
}
.social-media-buttons img:hover {
	cursor: pointer
}
#copyright {
	font-size: 10%;
	float: right;
	margin-top: 6.4%;
	opacity: .9
}
.topnav {
	margin-right: 17.5%;
	color: #159957;
	text-align: right;
	font-size: 15%;
	margin-bottom: -3%
}
ul li {
	display: inline-block
}
ul li a {
	text-decoration: none;
	padding: 6px
}
ul li a:hover {
	text-decoration: underline
}
.banner {
	height: 50vh;
	width: 100%;
	background: #5c258d;
	background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
	background: linear-gradient(to right, #4389a2, #5c258d);
	color: #fff
}
.banner {
	text-align: center
}
#above-text {
	font-size: 50%;
	padding-top: 3%;
	margin-bottom: 0;
	font-weight: bolder
}
#under-text {
	font-size: 23.5%;
	padding-top: .1%;
	margin-bottom: -2%;
	opacity: .9
}
.post-text h1 {
	color: #159957;
	font-size: 45%;
	margin: 5%
}
.posts-list {
	margin: 2%
}
#info {
	font-size: 10%;
	font-weight: lighter;
	opacity: .9;
	color: grey
}
.post h1 {
	color: #1e6bb8;
	font-weight: lighter;
	font-size: 25%;
	opacity: .9;
	margin-top: -1%
}
.post h1:hover {
	text-decoration: underline
}
.post p {
	color: #000;
	font-size: 18%;
	opacity: .6
}
.button:hover {
	opacity: .7
}
@media only screen and (max-width:736px) {
	#above-text {
		font-size: 30%;
		padding-top: 10vh
	}
	#under-text {
		font-size: 17%;
		margin-top: 3vh
	}
	.buttons {
		margin-top: 2vh!important;
		font-size: 50%!important
	}
}
.post-text p {
	margin: 5%;
	font-size: 20%;
	opacity: .8
}
.blog {
	margin: 5%
}
#intro {
	font-size: 19%;
	opacity: .7
}
.button {
	padding: .1rem .6rem;
	font-size: 26.5%;
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, .7);
	background-color: rgba(255, 255, 255, .08);
	border-color: rgba(255, 255, 255, .2);
	border-style: solid;
	border-width: 1px;
	border-radius: .3rem;
	transition: color .2s, background-color .2s, border-color .2s;
	text-decoration: none;
	transition: opacity 450ms ease-in-out
}
body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Open Sans", serif;
	font-size: 2.5em
}
.buttons {
	margin-top: -4%
}
.social-media-buttons {
	margin: 5%;
	margin-top: -5%
}
.social-media-buttons img:hover {
	cursor: pointer
}
.topnav {
	margin-right: 17.5%;
	color: #159957;
	text-align: right;
	font-size: 15%;
	margin-bottom: -3%
}
ul li {
	display: inline-block
}
ul li a {
	text-decoration: none;
	padding: 6px
}
ul li a:hover {
	text-decoration: underline
}
.banner {
	height: 50vh;
	width: 100%;
	background: #5c258d;
	background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
	background: linear-gradient(to right, #4389a2, #5c258d);
	color: #fff;
	text-align: center
}
#above-text {
	font-size: 50%;
	padding-top: 3%;
	margin-bottom: -4%;
	font-weight: bolder
}
#under-text {
	font-size: 23.5%;
	padding-top: .1%;
	margin-bottom: -2%;
	opacity: .9
}
h1 {
	color: #159957;
	font-size: 45%
}
.posts-list {
	margin: 2%
}
#copyright {
	font-size: 10%;
	float: right;
	margin-top: 7.6%;
	opacity: .9
}
#info {
	font-size: 10%;
	font-weight: lighter;
	opacity: .9;
	color: grey
}
.post h1 {
	color: #1e6bb8;
	font-weight: lighter;
	font-size: 25%;
	opacity: .9;
	margin-top: -1%
}
.post h1:hover {
	text-decoration: underline;
	cursor: pointer
}
.post-text {
	margin: 5%
}
.about-me-text, .post p {
	color: #000;
	font-size: 18%;
	opacity: .6
}
.about-me-text {
	margin: 5%;
	opacity: .8;
	margin-bottom: 0
}
#skills {
	margin: 2%;
	opacity: .8;
	font-size: 110%
}
@media only screen and (max-width:1000px) {
	.portfolio-item {
		height: 40vh!important;
		width: 25%!important;
		margin: 1.6%!important;
		margin-bottom: 5%!important;
		font-size: 83%;
		margin: 5% auto 7% auto !important;

	}
	.portfolio-item img {
		width: 40%!important
	}
}
@media only screen and (max-width:736px) {
	.portfolio-item img {
		width: 25%!important
	}
	.portfolio-item {
		display: block!important;
		width: 87%!important
	}
	.banner {
		height: 60vh!important
	}
	#above-text {
		font-size: 30%;
		padding-top: 10vh
	}
	#under-text {
		font-size: 17%;
		margin-top: 3vh
	}
	.buttons {
		margin-top: 1vh!important;
		font-size: 50%!important
	}
}
.blog {
	margin: 5%
}
#intro {
	font-size: 19%;
	opacity: .7
}
.portfolio-item {
	display: inline-block;
	overflow: auto;
	height: 46vh;
	width: 20%;
	box-sizing: content-box;
	margin: 5% 3% 0 5%;
	padding: 1%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc
}
.summary {
	text-align: center;
	opacity: .56;
	font-size: 15%
}
.portfolio-item img {
	width: 40%;
	margin-bottom: 0
}
input, textarea {
	font-size: .8em;
	font-family: proxima-nova-soft, sans-serif;
	border: 1px solid #ddd;
	background: #fff;
	padding: .9em;
	transition: all .3s ease-in-out;
	width: 57%
}
#submit-email-button {
	margin-bottom: 5%
}
#me-img {
	width: 25%;
	border-radius: 50%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	transition: opacity ease-in-out 1s
}
.about-me-img {
	text-align: center
}
.project-image {
	text-align: center
}
.about-me {
	margin: 5%
}
.title {
	cursor: pointer;
	font-size: 20%;
	font-weight: bolder;
	opacity: .67;
	margin-top: 0;
	letter-spacing: 2.5px;
	text-align: center
}
.title:hover {
	text-decoration: underline
}
.button {
	padding: .1rem .6rem;
	font-size: 26.5%;
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, .7);
	background-color: rgba(255, 255, 255, .08);
	border-color: rgba(255, 255, 255, .2);
	border-style: solid;
	border-width: 1px;
	border-radius: .3rem;
	transition: color .2s, background-color .2s, border-color .2s;
	text-decoration: none;
	transition: ease-in-out opacity 450ms
}
.button:hover {
	opacity: .7
}
.typed-cursor {
	font-size: 30%;
	opacity: 1;
	animation: typedjsBlink .7s infinite;
	animation: typedjsBlink .7s infinite;
	animation-name: typedjsBlink;
	animation-duration: .7s;
	animation-timing-function: initial;
	animation-delay: initial;
	animation-iteration-count: infinite!important;
	animation-direction: initial;
	animation-fill-mode: initial;
	animation-play-state: initial
}
@keyframes typedjsBlink {
	50% {
		opacity: 0
	}
}
@-webkit-keyframes typedjsBlink {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
#under-text {
	display: inline-block
}
#me-img:hover {
	opacity: .95
}
