@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
 @import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
 height: 100%;
 margin: 0;
 padding: 0px;
 width: 100%;
 font: 400 15px/1.8 "Lato", sans-serif;
 color: #777;
}



html > body div.background-image-top {
 position: relative;
 opacity: 1.0;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: url("../images/background-image-top.jpg");
 height: 100%;

 box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.420);
 background-color: #252a30;
}

.typed-cursor {
 font-size: 288%;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
 animation: typedjsBlink .7s infinite;
 animation-name: typedjsBlink;
 animation-duration: .7s;
 animation-timing-function: initial;
 animation-delay: initial;
 animation-iteration-count: infinite; /* used to have */
 animation-direction: initial;
 animation-fill-mode: initial;
 animation-play-state: initial;
 color: white;
}

html > body  div.caption {
 position: absolute;
 left: 0;
 top: -1%;
 width: 100%;
 text-align: center;
 color: #000;
 top: -9%;
 opacity: 0.9;
}

html > body > .background-image-top div#image{
 margin-bottom: -3%;
}

html > body .caption span.border {
 background-color: fff;
 color: #FFF;
 padding: 18px;
 font-size: 208%;
 font-family: 'Montserrat', arial;
 letter-spacing: 10px;
 font-weight: 700;
}

h3 {
 letter-spacing: 5px;
 text-transform: uppercase;
 font: 20px "Lato", sans-serif;
 color: #111;
}

html > body > div.background-image-top .container {
 height: 100vh;
 padding: 20px;
 text-align: center;
}

html > body > div.background-image-top .content {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);

 p {
   margin: 0 0 20px;
 }

 opacity: 0.8;
}

html > body > div.background-image-top .content:hover{
 opacity: 1;
}
html > body > div.background-image-top div.container div.content p {
 color: white;
 font-size: 120%;
}

html > body > div.background-image-top > div.container.content  {
 opacity: 0.8
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html > body #more-arrows {
 width: 75px;
 height: 65px;

 &:hover {

   polygon {
     fill: #FFF;
     transition: all .2s ease-out;

     &.arrow-bottom {
       transform: translateY(-18px);
     }

     &.arrow-top {
       transform: translateY(18px);
     }

   }

 }

}

#logo {
 width: 36%;
}

polygon {
 fill: #FFF;
 transition: all .2s ease-out;

 &.arrow-middle {
   opacity: 0.75;
 }

 &.arrow-top {
   opacity: 0.5
 }

}

html > body > div.second {
 width: 100%;
 height: 80%;
}

html > body > div.second div.my-strong-points {
 width: 56%;
 text-align: center;
 margin-top: 4%;
 opacity: 1.0;
 line-height: 175%;
}

html > body > div.second i.icon-size {
 font-size: 400%;
 color: #FF9900;
}

html > body > div.background-image-top > div.caption s#name {
 /*! font-weight: bolder; */
 text-decoration: none;
 opacity: 1;
 font-weight: 800;
}

html > body > div.background-image-top > div.caption s.other-text-top {
 font-weight: bold;
 text-decoration: none;
 opacity: 0.95;
}

html > body > div.second h1, html > body > div.second p {
 text-align: center;
 color: #FF9900;
 opacity: 0.9;
}

html > body > div.second h1 {
 font-size: 165%;
}

html > body > div.second > div.my-strong-points > div.strong-point h1.strong-point-name {
 color: black;
}

html > body div.section-header p, html > body div.section-header h1{
 color: black;
 opacity: 0.7;
 letter-spacing: 1px;
 font-size: 107%;
 text-align: center;
}

html > body > div.second > div.my-strong-points {
 width: 100%;
 display: flex;
}

html > body > div.second > div.my-strong-points div.strong-point {
 margin: 5% 5%;
 width: 41%;
 display: inline-block`;
}

html > body div.second {
 font-family: "Raleway", sans-serif, arial;
}

html > body div.third{
 width: 100%;
 height: 218%;
 background-color: #eee;
}

html > body > div.third div.text-section {
 width: 50%;
}

html > body div.image {
 width: 50%;
 float: right;
}

div.image img {
 width: 75%;
 cursor: pointer;
}

html > body > div.third div.text-section {
 float: left;
}

html > body > div.content-section {
 width: 70%;
}

html > body > div.content-section > div.text-section h1, html > body > div.content-section > div.text-section p {
 font-size: 80%;
}
html > body p#projects-summary{
 opacity: 0.9;
 font-size: 120%;
 padding: 5% 15%;
}

html > body div.customer-review {
 height: 15%;
 width: 80%;
 margin: 0 auto;
 background-color: #eee;
 text-align: center;
 border-top: solid #d6e1e5 1px;
 border-bottom: solid #d6e1e5 1px;
 font-family: "Raleway";
 font-weight: 300;
}


html > body div.customer-review p.customer-quote {
 color: black;
 font-size: 140%;
 line-height: 1.5;
}

html > body div.customer-review img {
 width: 8%;
 border-radius: 100%;
 margin-bottom: -3.75%;
}

html > body  div.customer-review p.customer-name {
  display: inline-block;
  margin-left: 3%;
  letter-spacing: 1px;
  font-size: 116%;
}

html > body div.content-section {
  height: 60vh;
}

html > body > div.third div.section-header{
  background-color: #eee;
  height: 211vh;
}

html > body img#responsive {
  margin-top: 6%;
}

html > body img#macbook {
  margin-top: -6%;
}

.portfolio-item {
	display: inline-block;
	overflow: hidden;
	height: 50vh;
	width: 20%;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 5% 3% 0 5%;
	padding: 1%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}
.summary-portfolio {
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56)";
	filter: alpha(opacity=56);
	opacity: .56;
	font-size: 15%;
}
.portfolio-item img {
	width: 34%;
	margin-bottom: 0;
}

#info {
  text-align: left;
  font-size: 56%;
  font-weight: lighter;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: .9;
  color: grey;
}

.project-image {
    text-align: center;
}

.title {
    cursor: pointer;
    font-size: 20%;
    font-weight: bolder;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
    filter: alpha(opacity=67);
    opacity: .67;
    margin-top: 0;
    letter-spacing: 2.5px;
    text-align: center;
}

html > body h1.title {
  font-size: 240% !important;
}

html > body p.title-sub {
  font-size: 140% !important;
  margin-top: -2%;
}
html > body div.fifth {
  height: 49%;
  width: 100%;
  background-color: #FF9900;
  text-align: center;
  opacity: 0.8;
  margin-top: 5%;
}

html > body > div.fifth h1.title, html > body > div.fifth p.title-sub {
  margin-top: 2%;
  opacity: 0.9;
}

html > body > div.fifth h1.title {
  padding-top: 5%;
  opacity: 1.0;
}

html > body div.sixth {
  height: 35%;
  width: 100%;
  background-color: #252a30;
  text-align: center;
  color: white;
  display: inline-block;
  padding-top: 6px;
  position: relative;
}
html > body > div.sixth span {
  vertical-align: bottom;
  display: inline-block;
}

.social-media-buttons {
	margin: 5%;
	margin-top: -5%;
}
.social-media-buttons img:hover {
	cursor: pointer;
}

html > body a.button {
  border: 2px solid black;
  border-radius: 0%;
  text-decoration: none;
  color: black;
  transition: all 300ms ease-in-out;
  font-size: 105%;
  width: 15em;
  display: inline-block;
  line-height: 37px;
}

html > body a.button:hover {
   color: #FF9900;
  background-color: black;

}



@media only screen and (max-width:736px) {
  html > body > div.background-image-top img#logo {
    width: 80%;
  }

  html > body > div.background-image-top span.border{
    font-size: 140%;
  }

  html > body > div.background-image-top div.container div.content p {
    font-size: 86%;
  }

  html > body > div.second > div.my-strong-points{
    display: block;
  }

  html > body div.second {
    height: 215%;
  }

  html > body > div.second > div.my-strong-points div.strong-point {
    margin: 0 auto;
  }

  html > body > div.second > div.my-strong-points div.strong-point{
    width: 80%;
    margin-bottom: 6%;
  }

  html > body div.content-section {
    height: 108vh;
  }
  html > body > div.third div.text-section {
    clear: left;
    width: 100%;
    background-color: #eee;
  }

  html > body div.image {
    clear: right;
    width: 100%;
    text-align: center;
  }

  html > body div.third {
    height: 387%;
  }

  html > body div.customer-review {
    height: 29%;
  }

  html > body div.fourth {
    height: 362%;
    width: 100%;
  }

  .portfolio-item {
    display: block;
    width: 87%;
}

  html > body div.fifth {
    height: 43%;
  }

  html > body div.fifth {
    font-size: 70%
  }

  html > body div.sixth {
    font-size: 75%;
  }

}
