@import"https://fonts.googleapis.com/css?family=Open+Sans";
body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Open Sans", serif;
	font-size: 2.5em;
}
.portfolio-items{
	text-align: center;
}
.social-media-buttons {
	margin: 5%;
}
.social-media-buttons img:hover {
	cursor: pointer;
}
#copyright {
	font-size: 10%;
	float: right;
	margin-top: 6.4%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
.topnav {
	margin-right: 17.5%;
	color: #159957;
	text-align: right;
	font-size: 15%;
	margin-bottom: -3%;
}
ul li {
	display: inline-block;
}
ul li a {
	text-decoration: none;
	padding: 6px
}
ul li a:hover {
	text-decoration: underline;
}
.banner {
	height: 50vh;
	width: 100%;
	background: #5c258d;
	background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4389a2), color-stop(1, #5c258d));
	background: -moz-linear-gradient(to right, #4389a2, #5c258d);
	background: -o-linear-gradient(to right, #4389a2, #5c258d);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4389a2, EndColorStr=#5c258d)";
	background: linear-gradient(to right, #4389a2, #5c258d);
	background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4389a2), color-stop(1, #5c258d));
	background: -moz-linear-gradient(to right, #4389a2, #5c258d);
	background: -o-linear-gradient(to right, #4389a2, #5c258d);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4389a2, EndColorStr=#5c258d)";
	background: linear-gradient(to right, #4389a2, #5c258d);
	color: #fff;
}
.banner {
	text-align: center;
}
#above-text {
	font-size: 50%;
	padding-top: 3%;
	margin-bottom: 0;
	font-weight: bolder;
}
#under-text {
	font-size: 23.5%;
	padding-top: .1%;
	margin-bottom: -2%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
.post-text h1 {
	color: #159957;
	font-size: 45%;
	margin: 5%;
}
.posts-list {
	margin: 2%;
}
#info {
	font-size: 10%;
	font-weight: lighter;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	color: grey;
}
.post h1 {
	color: #1e6bb8;
	font-weight: lighter;
	font-size: 25%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	margin-top: -1%;
}
.post h1:hover {
	text-decoration: underline;
}
.post p {
	color: #000;
	font-size: 18%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6;
}
.button:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}

.post-text p {
	margin: 5%;
	font-size: 20%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
}
.blog {
	margin: 5%;
}
#intro {
	font-size: 19%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.button {
	padding: .1rem .6rem;
	font-size: 26.5%;
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, .7);
	background-color: rgba(255, 255, 255, .08);
	border-color: rgba(255, 255, 255, .2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	border-radius: .3rem;
	-webkit-transition: color .2s, background-color .2s, border-color .2s;
	-moz-transition: color .2s, background-color .2s, border-color .2s;
	-o-transition: color .2s, background-color .2s, border-color .2s;
	transition: color .2s, background-color .2s, border-color .2s;
	text-decoration: none;
	-webkit-transition: opacity 450ms ease-in-out;
	-moz-transition: opacity 450ms ease-in-out;
	-o-transition: opacity 450ms ease-in-out;
	transition: opacity 450ms ease-in-out;
}
body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Open Sans", serif;
	font-size: 2.5em
}
.buttons {
	margin-top: -4%;
}
.social-media-buttons {
	margin: 5%;
	margin-top: -5%;
}
.social-media-buttons img:hover {
	cursor: pointer;
}
.topnav {
	margin-right: 17.5%;
	color: #159957;
	text-align: right;
	font-size: 15%;
	margin-bottom: -3%
}
ul li {
	display: inline-block;
}
ul li a {
	text-decoration: none;
	padding: 6px
}
ul li a:hover {
	text-decoration: underline;
}
.banner {
	height: 50vh;
	width: 100%;
	background: #5c258d;
	background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4389a2), color-stop(1, #5c258d));
	background: -moz-linear-gradient(to right, #4389a2, #5c258d);
	background: -o-linear-gradient(to right, #4389a2, #5c258d);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4389a2, EndColorStr=#5c258d)";
	background: linear-gradient(to right, #4389a2, #5c258d);
	background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4389a2), color-stop(1, #5c258d));
	background: -moz-linear-gradient(to right, #4389a2, #5c258d);
	background: -o-linear-gradient(to right, #4389a2, #5c258d);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#4389a2, EndColorStr=#5c258d)";
	background: linear-gradient(to right, #4389a2, #5c258d);
	color: #fff;
	text-align: center;
}
#above-text {
	font-size: 50%;
	padding-top: 3%;
	margin-bottom: -4%;
	font-weight: bolder;
}
#under-text {
	font-size: 23.5%;
	padding-top: .1%;
	margin-bottom: -2%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
h1 {
	color: #159957;
	font-size: 45%;
}
.posts-list {
	margin: 2%;
}
#copyright {
	font-size: 10%;
	float: right;
	margin-top: 7.6%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
#info {
	font-size: 10%;
	font-weight: lighter;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	color: grey;
}
.post h1 {
	color: #1e6bb8;
	font-weight: lighter;
	font-size: 25%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	margin-top: -1%;
}
.post h1:hover {
	text-decoration: underline;
	cursor: pointer;
}
.post-text {
	margin: 5%;
}
.about-me-text, .post p {
	color: #000;
	font-size: 18%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6;
}
.about-me-text {
	margin: 5%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
	margin-bottom: 0;
}
#skills {
	margin: 2%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
	font-size: 110%;
}

.blog {
	margin: 5%;
}
#intro {
	font-size: 19%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.portfolio-item {
	display: inline-block;
	overflow: auto;
	height: 46vh;
	width: 20%;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 5% 3% 0 5%;
	padding: 1%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}
.summary {
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56)";
	filter: alpha(opacity=56);
	opacity: .56;
	font-size: 15%;
}
.portfolio-item img {
	width: 40%;
	margin-bottom: 0;
}
input, textarea {
	font-size: .8em;
	font-family: proxima-nova-soft, sans-serif;
	border: 1px solid #ddd;
	background: #fff;
	padding: .9em;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	width: 57%;
}
#submit-email-button {
	margin-bottom: 5%;
}
#me-img {
	width: 25%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s;
}
.about-me-img {
	text-align: center;
}
.project-image {
	text-align: center;
}
.about-me {
	margin: 5%;
}
.title {
	cursor: pointer;
	font-size: 20%;
	font-weight: bolder;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	opacity: .67;
	margin-top: 0;
	letter-spacing: 2.5px;
	text-align: center;
}
.title:hover {
	text-decoration: underline;
}
.button {
	padding: .1rem .6rem;
	font-size: 26.5%;
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, .7);
	background-color: rgba(255, 255, 255, .08);
	border-color: rgba(255, 255, 255, .2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	border-radius: .3rem;
	-webkit-transition: color .2s, background-color .2s, border-color .2s;
	-moz-transition: color .2s, background-color .2s, border-color .2s;
	-o-transition: color .2s, background-color .2s, border-color .2s;
	transition: color .2s, background-color .2s, border-color .2s;
	text-decoration: none;
	-webkit-transition: ease-in-out opacity 450ms;
	-moz-transition: ease-in-out opacity 450ms;
	-o-transition: ease-in-out opacity 450ms;
	transition: ease-in-out opacity 450ms
}

#info{
	text-align: left;
}

.button:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7
}
.typed-cursor {
	font-size: 30%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	animation: typedjsBlink .7s infinite;
	animation-name: typedjsBlink;
	animation-duration: .7s;
	animation-timing-function: initial;
	animation-delay: initial;
	animation-iteration-count: infinite; /* used to have */
	animation-direction: initial;
	animation-fill-mode: initial;
	animation-play-state: initial
}
#under-text {
	display: inline-block
}
#me-img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	opacity: .95
}
@media only screen and (max-width:1000px) {
	.portfolio-item {
		height: 47vh;
		width: 25%;
		margin: 1.6%;
		margin-bottom: 5%;
		font-size: 83%;
		margin: 5% auto 7% auto;
	}
	.portfolio-item img {
		width: 40%;
	}
}
@media only screen and (max-width:736px) {
	.portfolio-item img {
		width: 25%;
	}
	.portfolio-item {
		display: block;
		width: 87%;
	}
	.banner {
		height: 60vh;
	}
	#above-text {
		font-size: 30%;
		padding-top: 10vh;
	}
	#under-text {
		font-size: 17%;
		margin-top: 3vh;
	}
	.buttons {
		margin-top: 1vh;
		font-size: 50%;
	}
}

@media only screen and (max-width:736px) {
	#above-text {
		font-size: 30%;
		padding-top: 10vh
	}
	#under-text {
		font-size: 17%;
		margin-top: 3vh;
	}
	.buttons {
		margin-top: 2vh;
		font-size: 50%;
	}
}

@media only screen and (max-height: 463px){
	.banner{
		height: 70vh;
	}
}

@media only screen and (max-height: 399px){
	.banner{
		height: 80vh;
	}
}

@media only screen and (max-height: 346px){
	.banner{
		height: 95vh;
	}
}

@media only screen and (max-height: 283px){
	.banner{
		height: 120vh;
	}
}
