body {
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
  line-height: 1.6;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
}

html {
  font-size: 62.5%;
}

.wrapper{
  margin: 278px;
  margin-top: 25px;
}

.navbar{
  line-height: 1.35;
  letter-spacing: -.08rem;
}

#nav-link {
  text-decoration: none;
  color: black;
  font-size: 160%;
  letter-spacing: 5px;
}

#nav-link:hover{
  color: blue;
}

#nav-image{
  height: 267px;
  max-width: 0px auto;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  margin-right: 35px;
  float: left;
}

.navbar-text {
  margin-top: 30px;
  line-height: 1.35;
  letter-spacing: 2px;
}
