@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
 @import url('https://fonts.googleapis.com/css?family=Raleway');
body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
  width: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

html > body div.background-image-top {
  position: relative;
  opacity: 1.0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background-image-top.jpg");
  height: 100%;

  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.420);
}

.typed-cursor {
	font-size: 288%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	animation: typedjsBlink .7s infinite;
	animation-name: typedjsBlink;
	animation-duration: .7s;
	animation-timing-function: initial;
	animation-delay: initial;
	animation-iteration-count: infinite; /* used to have */
	animation-direction: initial;
	animation-fill-mode: initial;
	animation-play-state: initial;
	color: white;
}

html > body  div.caption {
  position: absolute;
  left: 0;
  top: -1%;
  width: 100%;
  text-align: center;
  color: #000;
  top: -9%;
  opacity: 0.9;
}

html > body > .background-image-top div#image{
  margin-bottom: -3%;
}

html > body .caption span.border {
  background-color: fff;
  color: #FFF;
  padding: 18px;
  font-size: 208%;
  font-family: 'Montserrat', arial;
  letter-spacing: 10px;
  font-weight: bold;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

html > body > div.background-image-top .container {
  height: 100vh;
  padding: 20px;
  text-align: center;
}

html > body > div.background-image-top .content {
  position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);

  p {
    margin: 0 0 20px;
  }

}

html > body > div.background-image-top div.container div.content p {
  color: white;
  font-size: 120%;
}

html > body > div.background-image-top > div.container.content  {
  opacity: 0.8
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Arrow & Hover Animation */
#more-arrows {
	width: 75px;
  height: 65px;

  &:hover {

    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }

    }

  }

}

#logo {
  width: 36%;
}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;

  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}

}

html > body > div.second {
  width: 100%;
}

html > body > div.second div.my-strong-points {
  width: 56%;
  text-align: center;
  margin-top: 10%;
}

html > body > div.second i.icon-size {
  font-size: 1100%;
  color: black;
}

html > body > div.background-image-top > div.caption s#name {
  font-weight: bolder;
  /*! color: #f03434; */
  text-decoration: none;
  opacity: 1;
}

html > body > div.background-image-top > div.caption s.other-text-top {
  font-weight: bold;
  text-decoration: none;
  opacity: 0.95;
}
